.item-count{
    display: flex;
    flex-direction: column;
    &__control{
        display: flex;
        flex-direction: row;
        button{
            background-color: #191970;
            color: white;
            border: 1px #191970 solid;
            width: 30px;
        }
        p{
            margin: 0 3%;
            font-size: 20px;
        }
    }
    &__add-cart{
        margin-top: 1%;
        button{
            font-family: 'Roboto Condensed', sans-serif;
            color: #191970;
            border: 2px solid #191970;
        }
    }
}